.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
}

.navLeft{
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0 20px;
}

a {
   
    margin: 0 30px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

a:hover {
    color: dimgray;
}

